#!/bin/sh

set -e

action=$1
version=$2

# debconf
. /usr/share/debconf/confmodule
db_version 2.0


db_text high logcheck/install-note || true
db_go

if [ -n "$version" ] && dpkg --compare-versions "$version" lt "1.2.3"; then
    db_text high logcheck/changes || true
    db_go
fi

if [ -n "$version" ] && dpkg --compare-versions "$version" lt "1.2.19"; then
    db_text low logcheck/noroot || true
    db_go
fi

exit 0
