#!/bin/sh

set -e

action=$1
version=$2

# debconf
. /usr/share/debconf/confmodule
db_version 2.0


# Only show messages about changes on an upgrade
if [ "$action" = "configure" -a -n "$version" ]; then
    if dpkg --compare-versions "$version" lt "1.2.1"; then
        db_text low logcheck-database/rules-directories-note || true
        db_text low logcheck-database/standard-rename-note || true
	db_go || true
    fi

    if dpkg --compare-versions "$version" lt "1.2.6"; then
	db_text medium logcheck-database/conffile-cleanup || true
	db_go || true
    fi
fi

exit 0
